*{margin: 0; padding: 0;}
    #container{width: 1310px; height: 1220px; background: #f6f6f6;
    margin: 100px auto; padding: 40px 0;}
    .info{width: 1200px; height: 1138px; margin: 0 auto;
    display: flex;
    justify-content: space-between; /* center: 가운데에 맞추는 거 | space-between : 끄트머리에 맞추는 것 */}
    .none-mark{width: 540px; height: 1138px; box-sizing: border-box; margin-right: 50px;}
    .marginT20{width: 680px; height: 1138px; box-sizing: border-box; 
    border: 1px solid black;}

    dl{margin-bottom: 30px}
    dl strong{font-size: 18px; margin-bottom: 5px; display: inline-block;}
    dt{ color: #333; font-size: 20px; font-weight: 600; letter-spacing: -0.1;
      margin-bottom: 30px; margin-top: 30px;}
    dd{color: #666; font-size: 18px; margin-bottom: 10px;}
    .use01{ color: rgb(183, 49, 47); margin-left: 25px; margin-bottom: 15px;}
    .use01 span{color: #666;}
    .use02{list-style-position: inside;}