<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>학생정보입력</title>
</head>
<body>
  <h2>학생정보를 입력하세요</h2>
  <form action="">
    
    <label for="">이름</label>
    <input type="text" name = 'name'><br>
    <label for="">학과</label>
    <input type="text" name = 'major'><br>
    <label for="">학년</label>
    <input type="text" name = 'grade'><br>
    <label for="">나이</label>
    <input type="text" name = 'age'><br>
    <label for="">성별</label>
    <input type="radio" name = 'gender' id = 'M' value = 'M'>
    <label for="M">남</label>
    <input type="radio"  name = 'gender' id = 'F' value = 'F'>
    <label for="F">여</label><br>
    
    <a href="/"><button>저장</button></a>
    <a href="/"><button>취소</button></a>
  </form>
  
  
</body>
</html>