<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  <title>학생상세페이지</title>
  <style>
    *{margin: 0; padding: 0;}
    .main{margin: 30px auto; width: 500px; text-align: center; border: 5px dotted gray;}
    h2{margin-bottom: 30px; background-color: pink;}
    table{margin: 0 auto;}
    td{height: 30px;}
    .c01{width: 100px;}
    select{width: 173px;}
    button{width: 120px; height: 40px; margin-top: 20px;}
  </style>
</head>
<body>
  <div class='main'>
    <h2>학생상세페이지</h2>
    <form action="{% url 'students:update' %}" method='post' name='wfrm'>
      {% csrf_token %}
      <table>
        <tr>
          <td class='c01'>이름</td>
          <td class='c02'>
            <input type="hidden" name = 'name' id='name'>
            {{stu.name}}
          </td>
        </tr>
        <tr>
          <td>학과</td>
          <td>{{stu.major}}</td>
        </tr>
        <tr>
          <td>학년</td>
          <td>{{stu.grade}}</td>
        </tr>
        <tr>
          <td>나이</td>
          <td>{{stu.age}}</td>
        </tr>
        <tr>
          <td>성별</td>
          <td>{{stu.gender}}</td>
        </tr>
        <tr>
          <td>취미</td>
          <td>{{stu.hobby}}</td>
        </tr>
        <tr>
          <td colspan='2'>
            <button type='button' onclick='sbtn()'>확인</button>
            <button type='button' onclick='cbtn()'>취소</button>
          </td>
        </tr>
        <script>
          function sbtn(){
            location.href='/students/list/'
          }
          function cbtn(){
            location.href='/'
          }
        </script>
      </table>
  </div>
</body>
</html>